<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="btn-close" aria-label="Fermer" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div [formGroup]="form" class="mb-3">
    <div class="mb-3">
      <label class="form-label" for="name">{{ message }}</label>
      <input class="form-control" id="name" formControlName="name" [readonly]="isReadonly" #name />
      <val-errors controlName="name" label="Le nom"></val-errors>
    </div>

    <!-- Categories (at least one) -->
    <div class="mb-3" formArrayName="categoryIds">
      <label class="form-label">Catégories du média</label>
      <div class="row gx-2" [class.mt-2]="!first" *ngFor="let categoryControl of categoryIds.controls; index as index; first as first">
        <div class="col-9">
          <select class="form-select" [formControlName]="index" [id]="'category-' + index">
            <option [ngValue]="null"></option>
            <option *ngFor="let category of unselectedCategories(categoryControl.value)" [ngValue]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-link add-category-button" (click)="addCategory()">
            <span class="visually-hidden">Ajouter une catégorie</span>
            <fa-icon [icon]="addIcon"></fa-icon>
          </button>
          <!-- Remove a category if more than 1 -->
          <button
            *ngIf="categoryIds.controls.length > 1"
            type="button"
            class="btn btn-link remove-category-button"
            (click)="removeCategory(index)"
          >
            <span class="visually-hidden">Supprimer une catégorie</span>
            <fa-icon [icon]="removeIcon"></fa-icon>
          </button>
        </div>
      </div>
      <val-errors [control]="categoryIds" label="La catégorie">
        <ng-template valError="required">Au moins une catégorie est nécessaire.</ng-template>
      </val-errors>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()" id="yes-button">Valider</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()" id="no-button">Annuler</button>
</div>
