<h1>Catégories des indicateurs</h1>

<div *ngIf="categories">
  <div class="content mt-5">
    <div *ngFor="let category of categories">
      <div class="d-flex">
        <div><fa-icon [icon]="categoryIcon" class="mr-2"></fa-icon></div>
        <div class="flex-grow-1 row category">
          <div class="col-6 col-md-4">
            <a [routerLink]="['/indicator-categories', category.id, 'edit']">{{ category.name }}</a>
          </div>
        </div>
        <div class="text-right">
          <button (click)="deleteCategory(category)" type="button" class="btn btn-outline-danger btn-sm delete-category-button">
            <fa-icon [icon]="deleteCategoryIcon"></fa-icon>
            <span class="sr-only">Supprimer la catégorie</span>
          </button>
        </div>
      </div>
      <hr class="my-2" />
    </div>
  </div>

  <div class="text-right mt-2">
    <a class="btn btn-outline-secondary" id="create-category" routerLink="/indicator-categories/new">
      <fa-icon [icon]="createCategoryIcon" class="mr-1"></fa-icon>
      <span>Créer une nouvelle catégorie</span>
    </a>
  </div>
</div>
