html,
body {
  overflow-x: hidden;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.zoom,
.especes {
  mix-blend-mode: multiply;
}

blockquote:before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url('/assets/images/quote.svg');
  position: absolute;
  top: 0px;
  background-size: cover;
}

.apprendre-item blockquote {
  max-width: 600px;
  margin-left: 120px;
}

.apprendre-top:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: #fff;
  top: 57px;
  right: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.apprendre-top:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 0px;
  background-color: #fff;
  top: 58px;
  right: 11px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.apprendre-item.closed .apprendre-top:before {
  height: 24px;
}

.apprendre-item.closed .apprendre-bottom {
  height: 0;
}

.apprendre-item:last-child {
  border: none;
}

.apprendre-bottom {
  height: 0;
}

.apprendre-top:hover .apprendre-title {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/* ----- NAV ----- */

/*
.cta-primary {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
*/

.sticky .nav,
.dark-nav .nav,
.error-page .nav {
  background-color: white;
}

.sticky .nav-link,
.dark-nav .nav-link,
.error-page .nav-link {
  color: #122c33;
}

.sticky .logo-dark,
.dark-nav .logo-dark,
.error-page .logo-dark,
.menu-open .logo-dark,
.indicateur-fiche .logo-dark {
  opacity: 1;
}

.sticky .logo-white,
.dark-nav .logo-white,
.error-page .logo-white,
.menu-open .logo-white,
.indicateur-fiche .logo-white {
  opacity: 0;
}

.menu-open .nav-link-item {
  opacity: 1;
}

.menu-open .nav-link-item:nth-child(1) {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.menu-open .nav-link-item:nth-child(2) {
  -webkit-transition-delay: 0.55s;
  -o-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

.menu-open .nav-link-item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.menu-open .nav-link-item:nth-child(4) {
  -webkit-transition-delay: 0.65s;
  -o-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

.color-change {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.sticky .color-change,
.menu-open .color-change,
.dark-nav .color-change,
.error-page .color-change {
  stroke: #122c33;
  fill: #122c33;
}

.btn-search .color-change {
  stroke: none;
}

.cta-search:hover .color-change {
  fill: #00708a;
}

.timer.full {
  -webkit-transition: all 10s linear;
  -o-transition: all 10s linear;
  transition: all 10s linear;
}

.home .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-img-link:nth-child(2) {
  margin-left: -10px;
}

.overlay {
  pointer-events: none;
}

.menu-open .overlay {
  pointer-events: auto;
}

/* ----- CTA ----- */

.nav-link:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 0px;
  background-color: #ffcf3f;
  top: 30px;
  left: 50%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-link:hover:after {
  height: 24px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-link.w--current {
  pointer-events: none;
}

.nav-link.w--current:after {
  width: 2px;
  height: 24px;
}

.cta-primary:before,
.cta-primary-small:before,
.cta-primary-big:before {
  content: '';
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateX(-140%) skew(-30deg);
  -ms-transform: translateX(-140%) skew(-30deg);
  transform: translateX(-140%) skew(-30deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cta-primary-big:before {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.cta-primary:hover:before,
.cta-primary-small:hover:before,
.cta-primary-big:hover:before {
  -webkit-transform: translateX(-5%) skew(-30deg);
  -ms-transform: translateX(-5%) skew(-30deg);
  transform: translateX(-5%) skew(-30deg);
}

.cta-primary.yellow:before {
  background-color: #ffcf3f;
}

.cta-primary.blue:before,
.cta-primary-big.blue:before {
  background-color: #276f87;
}

.cta-primary.blue:hover,
.cta-primary-big.blue:hover {
  color: white;
}

.cta-secondary:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #3c9eaf;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cta-secondary.white:after {
  background-color: white;
}

.cta-secondary.yellow:after {
  background-color: #ffcf3f;
}

.cta-secondary:hover:after {
  width: 100%;
}

.cta-swiper-nav:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  opacity: 0.25;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.cta-swiper-nav:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cta-swiper-nav:active:before {
  background-color: #276f87;
}

.cta-swiper-nav,
.swiper-next,
.swiper-prev {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.swiper-pagination {
  pointer-events: none;
}

.bullet {
  pointer-events: auto;
  outline: none;
}

.apropos-link:hover .apropos-item-underline {
  width: 100%;
}

.section-push-next:hover .push-next-arrow {
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.section-push-next:hover .push-next-img img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* ----- animation ----- */

.anim-paused {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.img-full.anim-zoom {
  -webkit-animation: 30s linear 0s infinite alternate animation-zoom;
  animation: 30s linear 0s infinite alternate animation-zoom;
}

@-webkit-keyframes animation-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes animation-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

/* ----- indicateurs ----- */

.filter-title:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: #122c33;
  top: 6px;
  right: 0;
  z-index: -1;
}

.indicateur-item:nth-child(odd) {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.indicateur-item:hover .indicateur-item-bkg {
  opacity: 0.85;
}

.indicateur-link:hover .indicateur-text-effect {
  color: white;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: white;
}

.indicateur-link:hover .indicateur-thematique {
  border-color: white;
  color: white;
}

.suffix-number {
  display: inline-block;
  font-size: 36px;
  vertical-align: top;
  line-height: 40px;
  margin-left: 5px;
}

/* ----- ecogeste ----- */

.ecogeste-link:hover .ecogeste-bkg,
.ecogeste-link-push:hover .ecogeste-bkg {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.8;
}

/* ----- DIVERS ----- */

.objectif-label:after {
  content: '';
  background-image: url('/assets/images/objectif-title.svg');
  width: 100%;
  position: absolute;
  height: 6px;
  left: 0;
  top: 35px;
  background-size: cover;
}

.swiper-partner,
.swiper-indicateur {
  overflow: visible;
}

.swiper-next-black {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.swiper-button-disabled {
  opacity: 0.1;
}

.swiper-science {
  overflow: visible;
}

/* ----- search ----- */

.closed .contact-popin-wrapper,
.closed .search-popin-wrapper,
.closed .cta-close {
  opacity: 0;
}

.cta-close:hover .cta-close-img {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.cta-close {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.search-input {
  content: '';
  background-image: url('/assets/images/Search.svg');
  width: 80px;
  height: 80px;
  position: absolute;
  background-size: cover;
  z-index: 10;
  background-color: transparent;
  border: none;
  outline: none;
}

.contact-form textarea {
  height: 240px;
}

.cta-primary.blue.w-button:hover {
  background-color: #276f87;
}

.search-result-link:hover .cta-secondary:after {
  width: 100%;
}

/* ----- map ----- */

.hotspot,
.bassin,
.cta-back-world,
.nav-slide {
  -webkit-tap-highlight-color: transparent;
}

.no-data {
  cursor: auto;
  pointer-events: none;
}

.no-data .hotspot-middle {
  background: white;
  width: 7px;
  height: 7px;
}

.no-data .hotspot-outside {
  display: none;
}

.not-visible {
  display: none;
}

.transition-back .bassin-circle {
  opacity: 0;
  display: none;
}

.hotspot-outside {
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 1;
  position: absolute;
}

.hotspot-circle,
.hotspot-middle {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hotspot-resize:hover .hotspot-circle,
.bassin:hover .hotspot-circle {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0.75;
}

.hotspot-resize:hover .hotspot-middle,
.bassin:hover .hotspot-middle {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.hotspot:hover .hotspot-outside,
.bassin:hover .hotspot-outside {
  opacity: 0;
}

.bassin-circle {
  -webkit-animation: 45s linear infinite turn;
  animation: 45s linear infinite turn;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hb .hotspot-resize {
  width: 16px;
  height: 16px;
}

.hb .hotspot-text {
  bottom: 24px;
}

.hb .hotspot-outside,
.hb .hotspot-circle {
  pointer-events: none;
}

.map-zoom:not(.map-zoom-bassin) .bassin-circle {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.bassin:hover .bassin-circle {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.hotspot-outside {
  -webkit-animation: 2s linear infinite glow;
  animation: 2s linear infinite glow;
}

.map-zoom:not(.map-zoom-bassin) .hotspot-outside {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.hotspot-resize:hover .hotspot-text,
.bassin:hover .hotspot-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@media screen and (max-width: 1024px) and (min-width: 990px) {
  .bassin-text-wrapper {
    width: 280px;
  }
}

@media screen and (max-width: 1024px) {
  .hotspot:not(.no-data) .hotspot-text,
  .section-map:not(.map-zoom) .bassin .hotspot-text {
    width: 110px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .touch.map-container {
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .bassin:hover .hotspot-text {
    opacity: 0;
  }

  .martinique .hotspot-text {
    bottom: -24px;
  }

  .la-reunion .hotspot-text {
    bottom: -4px;
  }
}

.hotspot,
.bassin {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hotspot {
  pointer-events: none;
}

.hotspot .hotspot-resize {
  pointer-events: auto;
}

.hotspot.hover,
.bassin.hover {
  opacity: 0.25;
}

.map-zoom .hotspot-resize {
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}

.map-zoom-bassin .bassin-circle {
  width: 320px;
  height: 320px;
  border-radius: 400px;
  stroke-width: 1px;
  opacity: 0.75;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
}

.bassin.zoomin,
.hotspot-text {
  pointer-events: none;
}

.bassin.zoomin .hotspot-outside {
  display: none;
}

.bassin.zoomin .hotspot-middle,
.bassin.zoomin .hotspot-circle,
.bassin.zoomin .hotspot-outside {
  opacity: 0;
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.map-zoom .world-front,
.map-zoom .map-wrapper,
.map-zoom .hotspot-resize {
  -webkit-transition: -webkit-transform 1.75s;
  transition: -webkit-transform 1.75s;
  -o-transition: transform 1.75s;
  transition: transform 1.75s;
  transition: transform 1.75s, -webkit-transform 1.75s;
}

/*

.map-zoom .map-container {
    transition: transform 2.5s, opacity 1.75s;
}
*/

.territoire-fiche-map {
  /*mix-blend-mode: darken;*/
}

.territoire-fiche-list {
  pointer-events: none;
}

.territoire-fiche-item {
  pointer-events: auto;
}

.map-content {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.map-content.off {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition: all 0s !important;
  -o-transition: all 0s !important;
  transition: all 0s !important;
}

.map-container.back_bassin {
  opacity: 0.25;
  -webkit-transition: opacity 1s, -webkit-transform 0s;
  transition: opacity 1s, -webkit-transform 0s;
  -o-transition: opacity 1s, transform 0s;
  transition: opacity 1s, transform 0s;
  transition: opacity 1s, transform 0s, -webkit-transform 0s;
}

/* ----- territoire fiche ----- */

.territoire-fiche-item.active .territoire-fiche-map {
  -webkit-transform: scale(1) translateX(15%);
  -ms-transform: scale(1) translateX(15%);
  transform: scale(1) translateX(15%);
  opacity: 1;
}

.territoire-fiche-item .territoire-fiche-map {
  -webkit-transform: scale(0.75) translateX(15%);
  -ms-transform: scale(0.75) translateX(15%);
  transform: scale(0.75) translateX(15%);
  opacity: 0;
}

@media screen and (max-width: 990px) {
  .territoire-fiche-item.active .territoire-fiche-map {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }

  .territoire-fiche-item .territoire-fiche-map {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
}

.territoire-fiche-item {
  pointer-events: none;
}

.territoire-fiche-item.active {
  pointer-events: auto;
}

.frise-element:nth-child(even) {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 3px dashed #00708a;
  border-bottom: none;
  margin-top: -3px;
}

.frise-element:last-child {
  border-color: transparent;
}

.frise-element:nth-child(even) .frise-circle {
  top: 0;
  bottom: auto;
  -webkit-transform: translate(-10px, -12px);
  -ms-transform: translate(-10px, -12px);
  transform: translate(-10px, -12px);
}

.top-territoire-map {
  pointer-events: none;
}

.lieu-slide.type2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.lieu-slide .col-3 {
  display: none;
}

.lieu-slide.type1 .col-3,
.lieu-slide.type2 .col-3,
.lieu-slide.type3 .col-3 {
  display: block;
}

.swiper-wrapper.swiper-wrapper-frise {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 480px) {
  .lieu-slide.type3 .col-3 {
    position: absolute;
    left: 420px;
    width: 600px !important;
    color: #276f87;
    background: rgba(255, 255, 255, 0.95);
    padding: 35px 50px 5px;
  }

  .lieu-slide.type3 .lieu-title,
  .lieu-slide.type3 p {
    width: 380px;
  }

  .lieu-slide.type3 {
    margin-right: 480px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 991px) {
  .legend-wrapper.territoire {
    right: 380px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 991px) {
  .max-50 {
    max-width: 50vw;
  }
}

/* ----- animation ----- */

@-webkit-keyframes glow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------- RESPONSIVE ------------------ */

@media screen and (max-width: 1328px) {
  .indicateur-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .filter-link {
    margin-right: 15px;
  }

  .filter-wrapper {
    position: relative;
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    top: 0;
  }

  .indicateur-list {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .section-indicateur-list .col-7 {
    max-width: 100%;
  }

  .indicateur-item {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .indicateur-item:nth-child(odd) {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .indicateur-fiche .nav {
    background-color: white;
    border-bottom: 2px solid #f3f5f7;
  }

  .indicateur-fiche .nav-link {
    color: #122c33;
  }

  .indicateur-h1 {
    margin-top: 60px;
  }

  .h1-content {
    font-size: 32px;
    line-height: 34px;
  }

  .indicateur-h1-number {
    font-size: 140px;
    line-height: 120px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .footer-nav {
    width: 360px;
  }

  .footer-img-link:nth-child(2) {
    margin-left: 0px;
  }

  .footer .col-3 {
    max-width: 300px;
  }

  .footer .col-2 {
    max-width: 200px;
  }

  .left-1 {
  }

  .section-text-img .col-5 .left-1 {
    margin: 0 60px 0 0;
  }

  .section-citation {
    font-size: 40px;
    line-height: 46px;
  }
}

@media screen and (max-width: 990px) {
  .img-full {
    -o-object-position: 60% 50%;
    object-position: 60% 50%;
  }

  .indicateur-item .indicateur-item-bkg {
    opacity: 0.85;
  }

  .indicateur-link .indicateur-text-effect {
    color: white;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: white;
  }

  .indicateur-link .indicateur-thematique {
    border-color: white;
    color: white;
  }

  .indicateur-link {
    background-color: #000;
  }
  .indicateur-item {
    margin-bottom: 40px;
  }

  .cta-swiper-nav:before {
    width: 50px;
    height: 50px;
  }

  .indicateur-fiche .color-change {
    stroke: #122c33;
    fill: #122c33;
  }

  .search-input {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 764px) {
  .indicateur-item:nth-child(odd) {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media screen and (max-width: 479px) {
  .nav-link:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #ffcf3f;
    top: 18px;
    left: -17px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .nav-link.w--current:after {
    width: 24px;
    height: 2px;
  }

  blockquote:before {
    content: '';
    width: 30px;
    height: 30px;
  }

  .apprendre-item blockquote {
    margin-left: 0px;
  }

  .apprendre p {
    line-height: 26px;
  }

  .overlay {
    display: block;
  }

  .legend-wrapper img {
    height: 12px;
  }

  .search-input {
    width: 30px;
    height: 30px;
  }
}
