html {
  font-family: sans-serif; // 2
}

.d-none {
  display: none !important;
}

.category {
  margin: 0.5rem 0;
  border: 1px solid lightgray;
  &.selected {
    background-color: lightgray;
  }
}
