@import 'normalize.css';
@import 'webflow.css';
@import 'compteur-biom.webflow.css';
@import 'swiper.css';
@import 'global.css';

.d-none {
  display: none !important;
}

.category {
  margin: 0.5rem 0;
  border: 1px solid lightgray;
  &.selected {
    background-color: lightgray;
  }
}
