<h1>Administration des pages</h1>

<ng-container *ngIf="pageLinks$ | async as pageLinks">
  <div class="row" *ngIf="pageLinks$ | async as pageLinks">
    <div class="col-md">
      <h2>Pages statiques</h2>
      <ul class="list-unstyled">
        <li *ngFor="let pageLink of pageLinks.staticPageLinks">
          <biom-page-link [pageLink]="pageLink"></biom-page-link>
        </li>
      </ul>
    </div>
    <div class="col-md">
      <h2>Indicateurs</h2>
      <ul class="list-unstyled">
        <li *ngFor="let pageLink of pageLinks.indicatorPageLinks">
          <biom-page-link [pageLink]="pageLink"></biom-page-link>
        </li>
      </ul>
    </div>
    <div class="col-md">
      <h2>Territoires</h2>
      <ul class="list-unstyled">
        <li *ngFor="let pageLink of pageLinks.territoryPageLinks">
          <biom-page-link [pageLink]="pageLink"></biom-page-link>
        </li>
      </ul>
      <h3>Bassins</h3>
      <ul class="list-unstyled">
        <li *ngFor="let pageLink of pageLinks.zonePageLinks">
          <biom-page-link [pageLink]="pageLink"></biom-page-link>
        </li>
      </ul>
    </div>
    <div class="col-md">
      <h2>Éco-gestes</h2>
      <ul class="list-unstyled">
        <li *ngFor="let pageLink of pageLinks.ecogesturePageLinks">
          <biom-page-link [pageLink]="pageLink"></biom-page-link>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h2>Média</h2>
    <div class="row">
      <div class="col-md">
        <h3>Articles</h3>
        <ul class="list-unstyled">
          <li *ngFor="let pageLink of pageLinks.articlePageLinks">
            <span *ngIf="pageLink.id">
              <fa-icon [icon]="pageIcon" class="mr-2"></fa-icon>
              <a href="#" (click)="openEditMediaModal('article', pageLink)">{{ pageLink.title }}</a>
            </span>
          </li>
          <button type="button" class="btn btn-outline-secondary mt-2" id="create-article" (click)="openCreateMediaModal('article')">
            Créer un nouvel article
          </button>
        </ul>
      </div>
      <div class="col-md">
        <h3>Entretiens</h3>
        <ul class="list-unstyled">
          <li *ngFor="let pageLink of pageLinks.interviewPageLinks">
            <span *ngIf="pageLink.id">
              <fa-icon [icon]="pageIcon" class="mr-2"></fa-icon>
              <a href="#" (click)="openEditMediaModal('interview', pageLink)">{{ pageLink.title }}</a>
            </span>
          </li>
          <button
            type="button"
            class="btn btn-outline-secondary mt-2"
            id="create-interview"
            role="button"
            (click)="openCreateMediaModal('interview')"
          >
            Créer un nouvel entretien
          </button>
        </ul>
      </div>
      <div class="col-md">
        <h3>Reportages photo</h3>
        <ul class="list-unstyled">
          <li *ngFor="let pageLink of pageLinks.photoReportsPageLinks">
            <span *ngIf="pageLink.id">
              <fa-icon [icon]="pageIcon" class="mr-2"></fa-icon>
              <a href="#" (click)="openEditMediaModal('report', pageLink)">{{ pageLink.title }}</a>
            </span>
          </li>
          <button
            type="button"
            class="btn btn-outline-secondary mt-2"
            id="create-photoReport"
            role="button"
            (click)="openCreateMediaModal('report')"
          >
            Créer un nouveau reportage photo
          </button>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
