@import '../../common';

.unit {
  border: 1px grey dashed;
  padding: 20px;
}

.left-border {
  border-left: 4px solid $info;
}

.move-up-unit {
  margin-left: 10px;
  margin-right: 2px;
}

.move-down-unit {
  margin-left: 2px;
}
