<div *ngIf="element" [formGroup]="elementGroup">
  <!-- SectionElement -->
  <div class="mb-5 pl-3 left-border" *ngIf="isSection(element)">
    <div class="d-flex justify-content-between">
      <biom-heading [level]="level" [title]="element.description"></biom-heading>
      <button
        type="button"
        class="btn btn-outline-primary move-down-unit"
        data-toggle="tooltip"
        title="Importé les valeurs de la préprod"
        (click)="importSectionData()"
      >
        <fa-icon [icon]="transferData"></fa-icon>
        <span class="sr-only">Importé les valeurs de la préprod</span>
      </button>
    </div>
    <div *ngFor="let sectionElement of element.elements">
      <biom-edit-page-element
        [formControlName]="sectionElement.name"
        [submitted]="isSubmitted"
        [elementModel]="getElementModel(sectionElement.name)"
        [level]="level + 1"
      ></biom-edit-page-element>
    </div>
  </div>
  <!-- ListUnitElement -->
  <div *ngIf="isListUnit(element)">
    <div *ngFor="let unitElement of element.elements">
      <biom-edit-page-element
        [formControlName]="unitElement.name"
        [submitted]="isSubmitted"
        [elementModel]="getElementModel(unitElement.name)"
        [level]="level + 1"
      ></biom-edit-page-element>
    </div>
  </div>
  <!-- ListElement -->
  <div *ngIf="isList(element)" class="mb-5 pl-3 left-border">
    <biom-heading [level]="level" [title]="element.description"></biom-heading>
    <div formArrayName="elements">
      <div *ngFor="let listElement of element.elements; index as unitIndex" class="mb-2 unit">
        <biom-edit-page-element
          [formControlName]="unitIndex"
          [submitted]="isSubmitted"
          [elementModel]="getElementModel(listElement.name)"
          [level]="level + 1"
        ></biom-edit-page-element>
        <div class="list-element-buttons-controller">
          <button type="button" class="btn btn-outline-danger remove-unit" (click)="removeListUnit(element, unitIndex)">
            Enlever l'élément de la liste
          </button>
          <button
            type="button"
            class="btn btn-outline-primary move-up-unit"
            (click)="moveUpListUnit(element, unitIndex)"
            [disabled]="unitIndex === 0"
          >
            <fa-icon [icon]="moveUpItemIcon"></fa-icon>
            <span class="sr-only">Remonter l'élément dans la liste</span>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary move-down-unit"
            (click)="moveDownListUnit(element, unitIndex)"
            [disabled]="unitIndex + 1 >= element.elements.length"
          >
            <fa-icon [icon]="moveDownItemIcon"></fa-icon>
            <span class="sr-only">Redescendre l'élément dans la liste</span>
          </button>
        </div>
      </div>
    </div>
    <val-errors [control]="elementsArray" label="La liste">
      <ng-template valError="atLeastOne">La liste doit contenir au moins un élément</ng-template>
      <ng-template valError="invalidElement">La liste doit contenir des éléments valides</ng-template>
    </val-errors>
    <button type="button" class="btn btn-outline-primary add-unit" (click)="addListUnit(element)">Ajouter un élément à la liste</button>
  </div>

  <!-- MultiListElement -->
  <div *ngIf="isMultiList(element)" class="mb-5 pl-3 left-border">
    <biom-heading [level]="level" [title]="element.description"></biom-heading>
    <div formArrayName="elements">
      <div *ngFor="let listElement of element.elements; index as unitIndex" class="mb-2 unit">
        <biom-edit-page-element
          [formControlName]="unitIndex"
          [submitted]="isSubmitted"
          [elementModel]="getMultiListElementModel(listElement.name)"
          [level]="level + 1"
        ></biom-edit-page-element>
        <div class="list-element-buttons-controller">
          <button type="button" class="btn btn-outline-danger remove-unit" (click)="removeListUnit(element, unitIndex)">
            Enlever l'élément de la liste
          </button>
        </div>
      </div>
    </div>
    <val-errors [control]="elementsArray" label="La liste">
      <ng-template valError="atLeastOne">La liste doit contenir au moins un élément</ng-template>
      <ng-template valError="invalidElement">La liste doit contenir des éléments valides</ng-template>
    </val-errors>
    <div *ngIf="element.templates.length">
      <button
        *ngFor="let template of element.templates"
        type="button"
        class="btn btn-outline-primary mr-2 mb-2 add-unit"
        (click)="addMultiListUnit(element, template)"
      >
        Ajouter {{ template.description }}
      </button>
    </div>
  </div>

  <!-- TextElement -->
  <div *ngIf="isText(element)" class="mb-2">
    <biom-edit-text-element [submitted]="isSubmitted" formControlName="text"></biom-edit-text-element>
  </div>
  <!-- SelectElement -->
  <div *ngIf="isSelect(element)" class="mb-2">
    <biom-edit-select-element [submitted]="isSubmitted" formControlName="select"></biom-edit-select-element>
  </div>
  <!-- LinkElement -->
  <div *ngIf="isLink(element)" class="mb-2">
    <biom-edit-link-element [submitted]="isSubmitted" formControlName="link"></biom-edit-link-element>
  </div>
  <!-- ImageElement -->
  <div *ngIf="isImage(element)" class="mb-2">
    <biom-edit-image-element [submitted]="isSubmitted" formControlName="image"></biom-edit-image-element>
  </div>
  <!-- CheckboxElement -->
  <div *ngIf="isCheckbox(element)" class="mb-2">
    <biom-edit-checkbox-element [submitted]="isSubmitted" formControlName="checkbox"></biom-edit-checkbox-element>
  </div>
</div>
