<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout(~{::title}, ~{::meta%og}, ~{::main})}">
  <head>
    <title th:text="${page.title}">Écogeste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta th:ref="og" property="og:title" th:attr="content=${page.title}" />
    <meta th:ref="og" property="og:description" th:attr="content=${page.content.presentation.description.text}" />
    <meta
      th:ref="og"
      property="og:image"
      th:attr="content=@{/images/{imageId}/image(imageId=${page.content.presentation.image.imageId})}"
    />
  </head>

  <body>
    <main th:object="${page.content}">
      <h1 th:text="*{presentation.name.text}">Title</h1>
      <p th:text="*{presentation.category.text}">Category</p>
      <p th:text="*{presentation.description.text}">Description</p>
      <img th:src="@{/images/{imageId}/image(imageId=*{presentation.image.imageId})}" th:alt="*{presentation.image.alt}" />
      <p>
        <a th:href="@{/images/{imageId}/image(imageId=*{presentation.file.imageId})}">Télécharger la fiche technique</a>
      </p>

      <h2 th:text="*{understand.title.text}"></h2>
      <img th:src="@{/images/{imageId}/image(imageId=*{understand.image.imageId})}" th:alt="*{understand.image.alt}" />
      <p th:text="*{understand.text.text}"></p>

      <h2 th:text="*{action.title.text}"></h2>
      <div th:each="card : *{action.cards}" th:object="${card}">
        <img th:src="@{/images/{imageId}/image(imageId=*{icon.imageId})}" th:alt="*{icon.alt}" />
        <p th:text="*{description.text}"></p>
      </div>
    </main>
  </body>
</html>
