<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout(~{::title}, ~{::main})}">
  <head>
    <title th:text="${page.title}">Écogestes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main th:object="${page.content}">
      <h1 th:text="*{title.text}">Title</h1>
      <p th:text="*{presentation.text}">Presentation</p>
      <img th:src="@{/images/{imageId}/image(imageId=*{image.imageId})}" th:alt="*{image.alt}" />

      <!-- TODO categories -->
      <div th:each="gesturePage : ${gesturePages}">
        <a th:href="@{/ecogestes/{gesture}(gesture=${gesturePage.name})}" class="ecogesture-link">
          <img
            th:src="@{/images/{imageId}/image(imageId=${gesturePage.content.presentation.image.imageId})}"
            th:alt="${gesturePage.content.presentation.image.alt}"
          />
        </a>
        <p th:text="${gesturePage.content.presentation.name.text}"></p>
      </div>
    </main>
  </body>
</html>
