<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout(~{::title}, ~{::main})}">
  <head>
    <title>Écogeste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main>
      <h1 th:text="${presentation.name.text}">Title</h1>
      <p th:text="${presentation.category.text}">Category</p>
      <img th:src="@{/images/{imageId}/image(imageId=${presentation.image.imageId})}" th:alt="${presentation.image.alt}"/>
      <p>
        <a th:href="@{/images/{imageId}/image(imageId=${presentation.file.imageId})}">Télécharger la fiche technique</a>
      </p>

      <h2 th:text="${understand.title.text}"></h2>
      <img th:src="@{/images/{imageId}/image(imageId=${understand.image.imageId})}" th:alt="${understand.image.alt}"/>
      <p th:text="${understand.text.text}"></p>

      <h2 th:text="${action.title.text}"></h2>
      <div th:each="card : ${action.cards}">
        <img th:src="@{/images/{imageId}/image(imageId=${card.icon.imageId})}" th:alt="${card.icon.alt}"/>
        <p th:text="${card.description.text}"></p>
      </div>
    </main>
  </body>
</html>
