<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:biom="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=~{::meta%og}, content=~{::main}, bodyClass=null, selectedMenu='act')}"
>
  <head>
    <title th:text="${page.title}">Écogeste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta th:ref="og" property="og:title" th:attr="content=${page.title}" />
    <meta th:ref="og" property="og:description" th:attr="content=${page.content.presentation.description.text}" />
    <meta
      th:ref="og"
      property="og:image"
      th:attr="content=${#requests.absoluteBaseUrl()} + @{/images/{imageId}/image(imageId=${page.content.presentation.image.imageId})}"
    />
  </head>

  <body>
    <main class="main" th:object="${page.content}">
      <!-- Top -->
      <section class="section-top">
        <div class="legend-wrapper">
          <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
          <div class="legend-text" biom:markdown="*{presentation.image.alt}"></div>
        </div>
        <div class="section-top-wrapper">
          <div class="ecogeste-top-content">
            <h1 class="section-top-title" biom:markdown="*{presentation.name.text}"></h1>
            <div class="col-3 top-paragraph" biom:markdown="*{presentation.description.text}"></div>
            <div class="ecogeste-thematique" biom:markdown="*{presentation.category.text}"></div>
          </div>
        </div>
        <img biom:image="*{presentation.image}" loading="lazy" sizes="100vw" class="img-full" />
        <img th:if="*{presentation.shadowed.value}" biom:image="*{presentation.image}" sizes="100vw" class="img-full shadowed-img" />
        <div class="section-top-side">
          <a th:href="@{/images/{imageId}/document(imageId=*{presentation.file.imageId})}" class="share-link file w-inline-block">
            <img th:src="@{/assets/images/pdf.svg}" loading="lazy" width="18" alt="" />
          </a>
          <a target="_blank" th:href="@{https://twitter.com/intent/tweet(text=${twitterText})}" class="share-link twitter w-inline-block">
            <img th:src="@{/assets/images/twitter.svg}" loading="lazy" alt="" />
          </a>
          <a
            target="_blank"
            th:href="@{https://www.facebook.com/share.php(u=${#httpServletRequest.requestURL}, quote=*{presentation.name.text})}"
            class="share-link facebook w-inline-block"
          >
            <img th:src="@{/assets/images/facebook.svg}" loading="lazy" alt="" />
          </a>
        </div>
      </section>

      <!-- Understand -->
      <section class="section-ecogeste-intro">
        <div class="section-content">
          <h2 class="section-title col-3" biom:markdown="*{understand.title.text}"></h2>
          <div class="col-5">
            <div class="preserve-lines top-paragraph" biom:markdown="*{understand.text.text}"></div>
            <blockquote biom:markdown="*{understand.quote.text}"></blockquote>
          </div>
        </div>
        <div class="section-decoration-text ecogeste">agir</div>
      </section>

      <!-- Indicator -->
      <section class="indicateur-push" th:if="${indicator}">
        <div class="indicateur-push-content">
          <div class="indicateur-number-small" biom:markdown="${#indicators.formatValue(indicator.indicatorValue, indicator.indicator.isRounded)}"></div>
          <div class="text-big" biom:markdown="${indicator.page.content.presentation.description.text}"></div>
          <a th:href="@{/indicateurs/{slug}(slug=${indicator.indicator.slug})}" class="cta-secondary">en savoir plus</a>
        </div>
        <div class="push-left left-1">
          <img
            th:src="@{/images/{imageId}/image/sm(imageId=${indicator.page.content.presentation.image.imageId})}"
            th:alt="${indicator.page.content.presentation.image.alt}"
            loading="lazy"
            sizes="(max-width: 479px) 94vw, (max-width: 767px) 100vw, (max-width: 991px) 94vw, 52vw"
            class="img-full-height"
          />
          <div class="legend-wrapper right">
            <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
            <div class="legend-text" biom:markdown="${indicator.page.content.presentation.image.alt}"></div>
          </div>
        </div>
      </section>

      <!-- Actions -->
      <section class="section-action">
        <div class="section-action-wrapper">
          <h2 class="section-title col-4" biom:markdown="*{action.title.text}"></h2>
          <ul role="list" class="action-list w-list-unstyled">
            <li class="action-item" th:each="card : *{action.cards}" th:object="${card}">
              <div class="action-img-wrapper">
                <img th:src="@{/images/{imageId}/image(imageId=*{icon.imageId})}" th:alt="*{icon.alt}" />
              </div>
              <div class="text-big top-paragraph" biom:markdown="*{description.text}"></div>
            </li>
          </ul>
        </div>
        <div class="section-decoration-text action">action</div>
      </section>

      <!-- Act for science -->
      <section class="section-agir">
        <h2 class="section-title col-3" biom:markdown="${act.content.title.text}"></h2>
        <div class="col-5">
          <div class="top-paragraph" biom:markdown="${act.content.description.text}"></div>
          <div class="agir-divider"></div>
          <div class="agir-block">
            <div class="col-1">
              <img th:src="@{/assets/images/icon-agir-1.svg}" loading="lazy" alt="" />
            </div>
            <div class="text-big col-2" biom:markdown="${act.content.firstActionName.text}"></div>
            <a th:href="${act.content.firstActionLink.href}" class="cta-secondary yellow" biom:markdown="${act.content.firstActionLink.text}"></a>
          </div>
          <div class="agir-divider"></div>
          <div class="agir-block">
            <div class="col-1">
              <img th:src="@{/assets/images/icon-agir-2.svg}" loading="lazy" alt="" />
            </div>
            <div class="text-big col-2" biom:markdown="${act.content.secondActionName.text}"></div>
            <a
              th:href="${act.content.secondActionLink.href}"
              class="cta-secondary yellow"
              biom:markdown="${act.content.secondActionLink.text}"
            ></a>
          </div>
          <div class="agir-divider"></div>
        </div>
      </section>

      <!-- next ecogesture -->
      <a
        th:if="${nextEcogestureCard}"
        th:href="@{/ecogestes/{slug}(slug=${nextEcogestureCard.ecogesture.slug})}"
        class="section-push-next w-inline-block"
      >
        <div class="push-next-img">
          <img
            th:src="@{/images/{imageId}/image/sm(imageId=${nextEcogestureCard.page.content.presentation.image.imageId})}"
            th:alt="${nextEcogestureCard.page.content.presentation.image.alt}"
            loading="lazy"
            sizes="40vw"
            class="next-img"
          />
        </div>
        <div class="push-next-wrapper">
          <div class="push-next-before">écogeste suivant</div>
          <div class="push-next-title-wrapper">
            <div class="push-next-title col-4" biom:markdown="${nextEcogestureCard.page.content.presentation.name.text}"></div>
            <img th:src="@{/assets/images/arrow_1.svg}" loading="lazy" alt="" class="push-next-arrow" />
          </div>
        </div>
      </a>
    </main>
  </body>
</html>
