<div *ngIf="editedPage">
  <h1>
    {{ mode === 'update' ? 'Modifier' : 'Créer' }} la page
    <small>
      <code>{{ editedPage.name }}</code>
    </small>
  </h1>

  <form [formGroup]="pageForm" (ngSubmit)="savePage()">
    <div class="form-group">
      <label for="title">Titre de la page</label>
      <input id="title" class="form-control" formControlName="title" />
      <val-errors controlName="title" label="Le titre"></val-errors>
    </div>
    <div formGroupName="elements">
      <div *ngFor="let element of editedPage.elements">
        <biom-edit-page-element
          [formControlName]="element.name"
          [submitted]="submitted"
          [elementModel]="getElementModel(element.name)"
          [level]="2"
        ></biom-edit-page-element>
      </div>
    </div>

    <div class="mb-1">
      <button type="submit" class="btn btn-primary mr-2" id="save-button">Enregistrer</button>
      <a class="btn btn-danger" routerLink="/">Annuler</a>
    </div>
  </form>
</div>
