<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:biom="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=~{::meta%og}, content=~{::main}, bodyClass='dark-nav', selectedMenu='media')}"
>
<head>
  <title th:text="${page.title}">À propos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta th:ref="og" property="og:title" th:attr="content=${page.content.presentation.name}" />
  <meta th:ref="og" property="og:description" th:attr="content=${page.content.presentation.name}" />
  <meta
    th:ref="og"
    property="og:image"
    th:attr="content=${#requests.absoluteBaseUrl()} + @{/images/{imageId}/image(imageId=${page.content.presentation.image})}"
  />
</head>
<body>
  <main class="main" th:object="${page.content}" data-controller="article">
    <div class="section-decoration-text article">article</div>
    <section class="section-top-article">
      <div class="article-h1-wrapper">
        <div class="article-h1-content">
          <h1>
            <span class="article-h1" biom:markdown="*{presentation.name.text}">placeholder</span>
          </h1>
          <span class="article-content" biom:markdown="*{'Paru le ' + presentation.author.text}"
          >Paru le 12/01/2003</span
          >
        </div>
      </div>
      <div class="article-presentation-picture-wrapper">
        <img biom:image="*{presentation.image}" loading="lazy" sizes="(max-width: 991px) 100vw, 50vw" class="media-img-full-height" />
        <div class="legend-wrapper">
          <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
          <div class="legend-text" biom:markdown="*{presentation.image.alt}">Chelonia mydas ©  B. Guichard</div>
        </div>
      </div>
    </section>
    <section class="section-article-body">
      <div class="article-body-element-wrapper">
        <span class="article-introduction"  biom:markdown="*{body.introduction.text}"></span>
      </div>
      <div th:each="element: *{#media.orderMediaList(body.titre_question)}">
        <div  th:if="${#media.getContentType(element) == 'paragraph'}"  class="article-body-element-wrapper">
          <span class="article-paragraph"  biom:markdown="${element.paragraph.paragraphText.text}"></span>
        </div>
        <div  th:if="${#media.getContentType(element) == 'image'}"  class="article-body-element-wrapper image-wrapper">
          <img biom:image="${element.image.imageElement}" loading="lazy" sizes="(max-width: 991px) 100vw, 50vw" class="article-img" />
          <div class="legend-wrapper">
            <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
            <div class="legend-text" biom:markdown="${element.image.imageElement.alt}">Chelonia mydas ©  B. Guichard</div>
          </div>
        </div>
        <div  th:if="${#media.getContentType(element) == 'questionAnswer'}"  class="article-body-element-wrapper">
          <h3 class="article-question"  biom:markdown="${'Q: ' + element.questionAnswer.question.text}"></h3>
          <span class="article-paragraph"  biom:markdown="${element.questionAnswer.response.text}"></span>
        </div>
        <div  th:if="${#media.getContentType(element) == 'citation'}"  class="article-citation-wrapper">
          <img src="/assets/images/quote.svg" loading="lazy" alt="" class="article-citation-quote">
          <span class="article-citation"  biom:markdown="${element.citation.citationElement.text}"></span>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
