<h1>Indicateurs BIOM</h1>

<div *ngIf="indicators">
  <div class="content mt-5">
    <div *ngFor="let indicator of indicators; index as i; first as first; last as last">
      <div class="d-flex align-items-center">
        <div class="me-2"><fa-icon [icon]="indicatorIcon"></fa-icon></div>
        <div class="flex-grow-1 row indicator">
          <div class="col-sm-6">
            <div><a [routerLink]="['/indicators', indicator.id, 'edit']">{{ indicator.slug }}</a></div>
            <div>{{ indicator.biomId }}</div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <span class="badge bg-secondary me-2" *ngFor="let category of indicator.categories">{{ category.name }}</span>
          </div>
          <div class="col-sm-6 col-lg-3">
            <span class="badge bg-info text-dark" *ngIf="indicator.isRounded">arrondi</span>
          </div>
        </div>
        <div class="ms-2 text-end d-flex align-items-center">
          <div class="d-flex flex-column me-4">
            <button class="btn btn-link p-0" [disabled]="first" (click)="moveUp(i)" id="move-up-indicator-icon">
              <fa-icon [icon]="moveUpItemIcon"></fa-icon>
              <span class="visually-hidden">Déplacer l'indicateur vers le haut</span>
            </button>
            <button class="btn btn-link p-0" [disabled]="last" (click)="moveDown(i)" id="move-down-indicator-icon">
              <fa-icon [icon]="moveDownItemIcon"></fa-icon>
              <span class="visually-hidden">Déplacer l'indicateur vers le bas</span>
            </button>
          </div>
          <button (click)="deleteIndicator(indicator)" type="button" class="btn btn-outline-danger btn-sm delete-indicator-button">
            <fa-icon [icon]="deleteIndicatorIcon"></fa-icon>
            <span class="visually-hidden">Supprimer l'indicateur</span>
          </button>
        </div>
      </div>
      <hr class="my-2" />
    </div>
  </div>

  <div class="text-end my-2">
    <a class="btn btn-outline-secondary" id="create-indicator" routerLink="/indicators/new">
      <fa-icon [icon]="createIndicatorIcon" class="me-1"></fa-icon>
      <span>Créer un nouvel indicateur</span>
    </a>
  </div>
</div>
