<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:biom="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=~{::meta%og}, content=~{::main}, bodyClass=null, selectedMenu='indicators')}"
>
  <head>
    <title th:text="${page.title}">Indicateurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta th:ref="og" property="og:title" th:attr="content=${page.title}" />
    <meta th:ref="og" property="og:description" th:attr="content=${page.content.presentation.text}" />
    <meta
      th:ref="og"
      property="og:image"
      th:attr="content=${#requests.absoluteBaseUrl()} + @{/images/{imageId}/image(imageId=${page.content.image.imageId})}"
    />
  </head>

  <body>
    <main th:object="${page.content}" class="main">
      <section class="section-top">
        <div class="section-top-wrapper">
          <div class="section-top-content">
            <h1 class="section-top-title" biom:markdown="*{title.text}">Compter la biodiversité, oui mais comment ?</h1>
            <div class="section-top-text preserve-lines top-paragraph" biom:markdown="*{presentation.text}">
              Les indicateurs sont des outils qui permettent de suivre différents paramètres de la biodiversité, pour renseigner de son
              évolution. De nombreux paramètres sont étudiés : effectifs des populations, état de santé des écosystèmes, taux de pollutions,
              etc. Ils renseignent ainsi l’état de la biodiversité à un instant précis, mais également l’état des connaissances et des
              moyens scientifiques actuels.
            </div>
          </div>
        </div>
        <div class="legend-wrapper">
          <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
          <div class="legend-text" biom:markdown="*{image.alt}"></div>
        </div>
        <img biom:image="*{image}" loading="lazy" sizes="100vw" class="img-full" />
        <img th:if="*{shadowed.value}" biom:image="*{image}" loading="lazy" sizes="100vw" class="img-full shadowed-img" />
      </section>
      <section class="section-indicateur-list" data-controller="indicators">
        <div class="indicateur-list-wrapper">
          <aside class="filter-wrapper categories">
            <h3 class="filter-title">filtrer par thématique</h3>
            <ul role="list" class="filter-list w-list-unstyled" id="categories">
              <li class="filter-item category">
                <button type="button" data-target="indicators.all" data-action="click->indicators#allClicked" class="filter-link active">
                  TOUT
                </button>
              </li>
              <li class="filter-item category" th:each="category: ${categories}">
                <button
                  type="button"
                  class="filter-link"
                  data-target="indicators.category"
                  data-action="click->indicators#categoryClicked"
                  th:attr="data-id=${category.id}"
                  th:text="${category.name}"
                ></button>
              </li>
            </ul>
          </aside>
          <div class="col-7">
            <ul role="list" class="indicateur-list w-list-unstyled" id="indicators">
              <li
                class="indicateur-item"
                th:each="card: ${cards}"
                data-target="indicators.indicator"
                th:attr="data-categories=${card.categoryIdsAsJsonArray}"
              >
                <a th:href="@{/indicateurs/{slug}(slug=${card.indicator.slug})}" class="indicateur-link w-inline-block">
                  <div class="indicateur-text-effect">
                    <h2 class="indicateur-item-title">
                      <span class="indicateur-number" biom:markdown="${#indicators.formatValue(card.indicatorValue, card.indicator.isRounded)}">60 </span>
                      <span class="indicateur-description" biom:markdown="${card.page.content.presentation.description.text}"
                        >espèces sur les 100 considérées comme les plus envahissantes au monde se trouvent en outre-mer.</span
                      >
                    </h2>
                  </div>
                  <div class="indicateur-thematique-wrapper">
                    <div class="indicateur-thematique" th:each="category: ${card.indicator.categories}" biom:markdown="${category.name}">
                      espèces menacées
                    </div>
                  </div>
                  <img
                    th:src="@{/images/{imageId}/image/sm(imageId=${card.page.content.presentation.image.imageId})}"
                    th:alt="${card.page.content.presentation.image.alt}"
                    loading="lazy"
                    class="indicateur-item-bkg"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-decoration-text indicateurs">indicateurs</div>
      </section>
      <section class="section-text-img">
        <div class="section-label">COMPRENDRE</div>
        <div class="section-content">
          <div class="col-5">
            <h3 class="section-title" biom:markdown="*{understand.title.text}"></h3>
            <div class="left-1">
              <img biom:image="*{understand.image}" loading="lazy" sizes="100vw" class="img-full-width margin-bottom hide-desktop" />
              <div class="preserve-lines top-paragraph" biom:markdown="*{understand.description.text}"></div>
            </div>
          </div>
          <div class="col-5 left-1">
            <img
              biom:image="*{understand.image}"
              loading="lazy"
              sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 42vw"
              class="img-full-width only-desktop"
            />
          </div>
          <div class="section-decoration-text temoignage">comprendre</div>
        </div>
      </section>
      <section class="section-indicator-sources" id="onb">
        <div class="indicator-source-container">
          <div class="col-5 onb-img">
            <img th:src="@{/assets/images/logo_ONB.png}" loading="lazy" height="200" alt="" class="img-multiply logo-onb" />
          </div>
          <div class="col-4 onb-text">
            <h2 class="heading" biom:markdown="*{onb.title.text}">L’observatoire national de la biodiversité</h2>
            <div class="preserve-lines top-paragraph" biom:markdown="*{onb.description.text}"></div>
            <a th:href="*{onb.link.href}" biom:markdown="*{onb.link.text}" class="cta-secondary"></a>
          </div>
        </div>
        <div class="indicator-source-container">
          <div class="col-5 inpn-img">
            <img th:src="@{/assets/images/logo-inpn.png}" loading="lazy" height="120" alt="" class="img-multiply logo-inpn" />
          </div>
          <div class="col-4 inpn-text">
            <h2 class="heading" biom:markdown="*{inpn.title.text}">L’observatoire national de la biodiversité</h2>
            <div class="preserve-lines top-paragraph" biom:markdown="*{inpn.description.text}"></div>
            <a th:href="*{inpn.link.href}" biom:markdown="*{inpn.link.text}" class="cta-secondary"></a>
          </div>
        </div>
      </section>
      <section class="section-citation" id="quote">
        <img th:src="@{/assets/images/quote.svg}" loading="lazy" alt="" class="image" />
        <div class="top-paragraph" biom:markdown="*{quote.text}"></div>
      </section>
      <section class="section-apprendre" id="learn">
        <div class="section-decoration-text apprendre">apprendre</div>
        <div class="apprendre-wrapper">
          <ul role="list" class="w-list-unstyled">
            <li
              class="apprendre-item closed"
              th:each="question: *{questions}"
              data-controller="question-item"
              data-target="question-item.item"
            >
              <div class="apprendre-top" data-action="click->question-item#questionClicked" data-target="question-item.question">
                <div class="apprendre-title" biom:markdown="${question.question.text}"></div>
              </div>
              <div class="apprendre-bottom" data-target="question-item.answer">
                <div class="preserve-lines" biom:markdown="${question.answer.text}"></div>
                <blockquote biom:markdown="${question.quote.text}"></blockquote>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
