<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="contact" data-controller="contact">
      <a href="#" role="button" data-action="contact#toggle">Contact</a>
      <form data-target="contact.form" data-action="contact#send" class="d-none" novalidate id="contact-form">
        <div>
          <label for="contact-from">Votre adresse email</label>
          <input type="email" data-target="contact.from" id="contact-from" />
          <div class="error d-none" data-target="contact.invalidFrom">Veuillez saisir une adresse email valide</div>
        </div>
        <div>
          <label for="contact-body">Votre message pour le Museum National d'Histoire Naturelle</label>
          <textarea
            name="text"
            data-target="contact.body"
            maxlength="700"
            data-action="input->contact#bodyChanged"
            id="contact-body"
          ></textarea>
          <div class="hint">Nombre de caractères restants: <span data-target="contact.remainingCharacters"></span></div>
          <div class="error d-none" data-target="contact.invalidBody">Veuillez saisir un message</div>
        </div>
        <div>
          <button type="submit" data-target="contact.send" id="contact-send">Envoyer</button>
          <div class="error d-none" data-target="contact.sendFailed">L'envoi du message a échoué.</div>
        </div>
      </form>
    </div>
  </body>
</html>
