<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="cookies" class="rgpd-popin d-none" data-controller="cookies" data-target="cookies.warning">
      <div class="rgpd-wrapper">
        <div class="rgpd-text">
          Les cookies assurent le bon fonctionnement de nos services. En continuant la navigation, vous acceptez l'utilisation des cookies.
          <!-- TODO add link "En savoir plus", but where should it point to? -->
          <a href="#" class="rgpd-link">En savoir plus</a>
        </div>
        <button class="cta-primary-small" data-action="click->cookies#accept">Accepter et fermer</button>
      </div>
    </div>
  </body>
</html>
