<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <form th:fragment="search" method="get" th:action="@{/recherche}" data-controller="search" style="display: inline">
      <a id="search-toggler" role="button" href="#" data-action="search#toggle">Search</a>
      <input
        name="texte"
        id="search"
        placeholder="Rechercher"
        th:value="${#execInfo.processedTemplateName == 'search' ? param.texte : ''}"
        th:classappend="${#execInfo.processedTemplateName != 'search'}? 'd-none'"
        data-target="search.searchInput"
      />
    </form>
  </body>
</html>
