<div class="image" [formGroup]="imageGroup">
  <label>{{ editedImageElement.description }}</label>
  <div class="row gx-2">
    <div class="col-lg-4">
      <label class="form-label" *ngIf="!editedImageElement.document">Source de l'image</label>
      <label class="form-label" *ngIf="editedImageElement.document">Document</label>
      <div class="border rounded p-2" [class.border-danger]="imageGroup.get('imageId').invalid && imageGroup.get('imageId').touched">
        <div class="text-center thumbnail">
          <div *ngIf="uploading" class="spinner-border text-primary mt-4 uploading" role="status">
            <span class="visually-hidden">Téléchargement en cours...</span>
          </div>
          <div *ngIf="!uploading && !imageGroup.value.imageId" class="text-center text-muted no-image mt-2">
            <fa-icon [icon]="imageIcon" size="4x"></fa-icon>
            <br />
            <span *ngIf="!editedImageElement.document">Aucune image sélectionnée</span>
            <span *ngIf="editedImageElement.document">Aucun document sélectionné</span>
          </div>
          <ng-container *ngIf="!uploading && imageGroup.value.imageId">
            <div *ngIf="!editedImageElement.document" class="image-div">
              <a role="button" (click)="openImageModal(imageModalContent)">
                <span class="visually-hidden">Cliquer pour agrandir l'image</span>
                <img *ngIf="imageGroup.value.imageId" [alt]="imageGroup.value.alt" [src]="imageUrl" class="img-thumbnail" />
              </a>
            </div>
            <div *ngIf="editedImageElement.document" class="document-div">
              <a [href]="'/images/' + imageGroup.value.imageId + '/document'" class="text-decoration-none text-muted">
                <span class="visually-hidden">Cliquer pour télécharger le document</span>
                <fa-icon [icon]="documentIcon" size="4x"></fa-icon>
              </a>
            </div>
          </ng-container>
        </div>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-link choose-image-button"
            (click)="chooseImage(imageFileInput)"
            (blur)="markImageAsTouched()"
            [disabled]="uploading"
          >
            <ng-container *ngIf="!editedImageElement.document">
              <span *ngIf="!imageGroup.value.imageId">Choisir une image</span>
              <span *ngIf="imageGroup.value.imageId">Choisir une autre image</span>
            </ng-container>
            <ng-container *ngIf="editedImageElement.document">
              <span *ngIf="!imageGroup.value.imageId">Choisir un document</span>
              <span *ngIf="imageGroup.value.imageId">Choisir un autre document</span>
            </ng-container>
          </button>
        </div>
      </div>
      <div class="form-text image-hint">
        <span *ngIf="editedImageElement.multiSize">
          L'image doit être une grande photo au format JPEG, et sera redimensionnée automatiquement.
        </span>
        <span *ngIf="editedImageElement.document"> Le document doit être un fichier PDF. </span>
        <span *ngIf="!editedImageElement.multiSize && !editedImageElement.document">
          L'image ne sera <strong>pas</strong> redimensionnée.
        </span>
      </div>
      <val-errors controlName="imageId" [label]="editedImageElement.document ? 'Le document' : 'L\'image'"></val-errors>
    </div>
    <div class="col-lg-8">
      <label class="form-label">Légende / Texte alternatif</label>
      <input class="form-control image-alt" formControlName="alt" />
      <val-errors controlName="alt" label="La légende"></val-errors>
    </div>
  </div>
  <input type="file" [accept]="acceptedFiles" class="d-none" (change)="onUpload($event)" #imageFileInput />
</div>

<ng-template #imageModalContent let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Fermer" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img [alt]="imageGroup.value.alt" [src]="largeImageUrl" [srcset]="sourceSet" class="img-fluid" />
    </div>
  </div>
</ng-template>
