<nav *ngIf="user$ | async as user" class="navbar navbar-expand-md navbar-dark bg-dark py-0">
  <span class="navbar-brand">
    <img src="assets/logo.png" alt="Logo" />
    {{ user.login }}
  </span>
  <button
    class="navbar-toggler"
    type="button"
    [attr.aria-expanded]="!collapsed"
    [attr.aria-label]="'Afficher/maquer la navigation'"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="!collapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="navbar-indicators">
        <a class="nav-link" routerLink="/indicators" (click)="collapsed = true">
          <fa-icon [icon]="indicatorsIcon" class="mr-1"></fa-icon>
          <span>Indicateurs BIOM</span>
        </a>
      </li>
      <li class="nav-item" id="navbar-indicator-categories">
        <a class="nav-link" routerLink="/indicator-categories" (click)="collapsed = true">
          <fa-icon [icon]="indicatorCategoriesIcon" class="mr-1"></fa-icon>
          <span>Catégories des indicateurs</span>
        </a>
      </li>
    </ul>
    <div class="navbar-nav">
      <li class="navbar-text">{{ user.login }}</li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="logout($event)" id="nav-logout">
          <span class="sr-only">Déconnexion</span>
          <fa-icon [icon]="logoutIcon"></fa-icon>
        </a>
      </li>
    </div>
  </div>
</nav>
