<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout(~{::title}, ~{::main})}">

<head>
  <title>À propos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <main>
    <div style="width: 600px; height: 400px;"
         th:attr="aria-label=${header.background.alt}"
         th:styleappend="'background-image: url(https://via.placeholder.com/' + ${header.background.imageId} + ')'"
    >
      <h1 th:text="${header.title.text}"></h1>
      <p th:text="${header.subtitle.text}"></p>
    </div>

    <p th:each="paragraph : ${header.paragraphs}" th.text="${paragraph.text}"></p>

    <div th:each="carouselElement : ${carousel}"
         th:object="${carouselElement}"
         style="width: 600px; height: 400px;"
         th:attr="aria-label=*{image.alt}"
         th:styleappend="'background-image: url(https://via.placeholder.com/' + *{image.imageId} + ')'"
    >
      <h2 th:text="*{title.text}">Title</h2>
      <p th:text="*{text.text}">Title</p>
      <a th:href="@{*{link.href}}" th:text="*{link.text}">Link</a>
    </div>

    <div>
      <h2 th:text="${partners.title.text}"></h2>
      <div th:each="partner : ${partners.partners}">
        <img th:src="'https://via.placeholder.com/' + ${partner.logo.imageId}" th:alt="${partner.logo.alt}" />
      </div>
    </div>
  </main>
</body>

</html>
