<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=_, content=~{::main}, bodyClass='error-page')}"
>
  <head>
    <title>Erreur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main class="main">
      <div class="section-error">
        <h1 class="error-page-title" biom:markdown="${status}">404</h1>
        <div class="error-page-text top-paragraph" th:if="${status == 404}">La page que vous avez demandée semble introuvable.</div>
        <div class="error-page-text top-paragraph" th:if="${status != 404}">Erreur inattendue: <span biom:markdown="${error}">.</span></div>
        <a th:href="@{/}" class="cta-primary blue">Page d'accueil</a>
      </div>
      <div th:if="${trace}" style="padding: 0 30px; width: 100%; overflow-x: scroll">
        <pre biom:markdown="${trace}"></pre>
      </div>
    </main>
  </body>
</html>
