<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:biom="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=~{::meta%og}, content=~{::main}, bodyClass='home')}"
>
  <head>
    <title th:text="${page.title}">Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta th:ref="og" name="description" th:attr="content=${page.content.presentation.text.text}" />
    <meta th:ref="og" property="og:title" th:attr="content=${page.title}" />
    <meta th:ref="og" property="og:description" th:attr="content=${page.content.presentation.text.text}" />
    <meta th:ref="og" property="og:image" th:attr="content=${#requests.absoluteBaseUrl()} + @{/assets/images/BIOM.jpg}" />
  </head>

  <body>
    <main class="main" th:object="${page.content}" data-controller="home">
      <section class="section-top">
        <div class="swiper-pagination">
          <div class="bullet active"></div>
          <div class="bullet"></div>
          <div class="bullet"></div>
        </div>
        <div class="swiper-navigation">
          <div class="cta-swiper-nav"><img th:src="@{/assets/images/Arrow.svg}" loading="lazy" alt="" class="swiper-next" /></div>
        </div>
        <div class="swiper-container swiper-top">
          <div class="swiper-wrapper">
            <div th:each="imageElement : *{carousel.carouselElements}" th:object="${imageElement}" class="swiper-slide swiper-top-slide">
              <div class="section-top-wrapper">
                <div class="col-4">
                  <h1 class="section-top-title" biom:markdown="*{title.text}">Découvrez la biodiversité des outre-mer</h1>
                  <div class="top-paragraph" biom:markdown="*{text.text}">
                    Partez à la rencontre des espèces et des écosystèmes des territoires français d’outre-mer
                  </div>
                  <a th:href="*{button.href}" biom:markdown="*{button.text}" class="cta-primary yellow"> découvrir les territoires </a>
                </div>
              </div>
              <div class="legend-wrapper top-slide">
                <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
                <div class="legend-text" biom:markdown="*{image.alt}">Chelonia mydas ©  B. Guichard</div>
              </div>
              <img biom:image="*{image}" loading="lazy" sizes="100vw" class="img-full" />
              <img th:if="*{shadowed.value}" biom:image="*{image}" loading="lazy" sizes="100vw" class="img-full shadowed-img" />
            </div>
          </div>
        </div>
      </section>

      <section class="section-apropos">
        <div class="section-label">à propos</div>
        <div class="section-content">
          <h2 class="section-title col-3" biom:markdown="*{presentation.title.text}">Le compteur de biodiversité Outre-Mer</h2>
          <div class="col-5">
            <div class="apropos-paragraph preserve-lines top-paragraph" biom:markdown="*{presentation.text.text}">
              Les territoires d’outre-mer présentent une biodiversité particulièrement riche et variée, mais fragilisée par les activités
              humaines. La mission du compteur est de donner une vision d’ensemble des enjeux liés à la biodiversité en outre-mer afin que
              chacun, résident ou voyageur de passage, puisse s’informer et s’impliquer à son échelle pour la préservation de cette
              biodiversité exceptionnelle.
            </div>
            <div class="swiper-container swiper-apropos">
              <ul role="list" class="swiper-wrapper apropos-list w-list-unstyled">
                <li class="swiper-slide apropos-item">
                  <a th:href="@{/indicateurs}" class="apropos-link w-inline-block">
                    <div class="apropos-img-wrapper"><img th:src="@{/assets/images/apropos-indicateur.svg}" loading="lazy" alt="" /></div>
                    <div class="apropos-title-wrapper">
                      <div class="apropos-item-title">Indicateurs</div>
                      <div class="apropos-item-underline"></div>
                    </div>
                    <div class="apropos-item-text top-paragraph" biom:markdown="*{presentation.indicators.text}">
                      Des chiffres clefs pour surveiller l’activité des territoires
                    </div>
                  </a>
                </li>
                <li class="swiper-slide apropos-item">
                  <a th:href="@{/ecogestes}" class="apropos-link w-inline-block">
                    <div class="apropos-img-wrapper"><img th:src="@{/assets/images/apropos-ecogeste.svg}" loading="lazy" alt="" /></div>
                    <div class="apropos-title-wrapper">
                      <div class="apropos-item-title">Éco-gestes</div>
                      <div class="apropos-item-underline"></div>
                    </div>
                    <div class="apropos-item-text top-paragraph" biom:markdown="*{presentation.ecogestures.text}">
                      Des gestes simples à mettre en place dans notre quotidien
                    </div>
                  </a>
                </li>
                <li class="swiper-slide apropos-item">
                  <a th:href="@{/sciences-participatives}" class="apropos-link w-inline-block">
                    <div class="apropos-img-wrapper"><img th:src="@{/assets/images/apropos-sciences.svg}" loading="lazy" alt="" /></div>
                    <div class="apropos-title-wrapper">
                      <div class="apropos-item-title">Sciences participatives</div>
                      <div class="apropos-item-underline"></div>
                    </div>
                    <div class="apropos-item-text top-paragraph" biom:markdown="*{presentation.science.text}">
                      Contribuez à la mise à jour de la base de donnée
                    </div>
                  </a>
                </li>
                <li class="swiper-slide apropos-item">
                  <a th:href="@{/territoires}" class="apropos-link w-inline-block">
                    <div class="apropos-img-wrapper"><img th:src="@{/assets/images/apropos-territoire.svg}" loading="lazy" alt="" /></div>
                    <div class="apropos-title-wrapper">
                      <div class="apropos-item-title">Territoires</div>
                      <div class="apropos-item-underline"></div>
                    </div>
                    <div class="apropos-item-text top-paragraph" biom:markdown="*{presentation.territories.text}">
                      Participer avec les acteurs locaux à la préservation des Outres-mer
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-apropos-wrapper">
                <div class="swiper-pagination-black">
                  <div class="bullet-black active"></div>
                  <div class="bullet-black"></div>
                  <div class="bullet-black"></div>
                </div>
                <img th:src="@{/assets/images/Circle.svg}" loading="lazy" alt="" class="swiper-next-black" />
              </div>
            </div>
          </div>
        </div>
        <div class="section-decoration-text apropos">à propos</div>
      </section>

      <section class="section-citation">
        <img th:src="@{/assets/images/quote.svg}" loading="lazy" alt="" class="citation-quote" />
        <p biom:markdown="*{presentation.quote.text}">
          Les Outre-Mer regroupent 80% de la biodiversité française, réinventons notre façon de vivre et de voyager
        </p>
      </section>

      <section th:replace="~{map/map::map (variant='home')}"></section>

      <section class="section-text-img">
        <div class="text-img-wrapper">
          <div class="col-5">
            <h2 class="section-title col-3" biom:markdown="*{testimony.title.text}">Une biodiversité unique et fragile, protégeons-la !</h2>
            <div class="left-1">
              <div class="top-paragraph" biom:markdown="*{testimony.text.text}">
                La conservation de la biodiversité dépend de sa connaissance et de la compréhension des phénomènes qui l’impactent. Les
                indicateurs sont des outils qui permettent de suivre différents paramètres de la biodiversité, pour renseigner de son
                évolution.
              </div>
              <blockquote biom:markdown="*{testimony.quote.text}">
                Ces actions conjuguées entraînent un accroissement de la biodiversité, une amélioration de la qualité de l’eau, de l’air
                mais aussi de la qualité de vie.
              </blockquote>
            </div>
          </div>
          <div class="left-1">
            <div class="image-wrapper">
              <img
                biom:image="*{testimony.image}"
                loading="lazy"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 73vw, (max-width: 991px) 79vw, 45vw"
                class="img-full-width only-desktop"
              />
              <div class="legend-wrapper">
                <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
                <div class="legend-text" biom:markdown="*{testimony.image.alt}"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-full-img">
        <img biom:image="*{science.image}" loading="lazy" sizes="100vw" class="img-full dark" />
        <div class="legend-wrapper">
          <img th:src="@{/assets/images/Pin.svg}" loading="lazy" alt="" />
          <div class="legend-text" biom:markdown="*{science.image.alt}">Chelonia mydas ©  B. Guichard</div>
        </div>
        <div class="full-img-wrapper">
          <div class="col-5">
            <h3 class="section-title" biom:markdown="*{science.title.text}">
              La photo-identification de serpents de mer par un groupe de plongeuses amatrices
            </h3>
            <div class="col-4 top-paragraph" biom:markdown="*{science.text.text}">
              Surnommées les « grand-mères fantastiques », un groupe de 7 plongeuses entre 60 et 75 ans ont collaboré avec les chercheurs de
              l’Université de Nouvelle-Calédonie pour étudier un serpent de mer méconnu, l’Hydrophis major, dans la baie des Citrons, au sud
              de Nouméa. Leurs photographies très régulières ont permis de recenser 250 individus différents de ce serpent dont on pensait
              la présence anecdotique.
            </div>
            <a th:href="*{science.more.href}" class="cta-primary" biom:markdown="*{science.more.text}">Lire l'article</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
