<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, opengraph=_, content=~{::main}, bodyClass='dark-nav')}"
>
  <head>
    <title>Résultats de la recherche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main class="main simple-page">
      <h1 class="page-title">Recherche&nbsp;: <span biom:markdown="${query}"></span></h1>
      <div class="section-decoration-text recherche">recherche</div>
      <ul role="list" class="search-result-list w-list-unstyled" th:if="${#lists.size(results) > 0}">
        <li class="search-result-item" th:each="result : ${results}">
          <a th:href="@{${result.path}}" class="search-result-link w-inline-block">
            <h2 class="search-result-title" biom:markdown="${result.title}">Titre de la page contenant le résultat</h2>
            <p class="search-result-text" th:utext="${result.highlight}">bla bla</p>
            <div class="cta-secondary">voir la page</div>
          </a>
        </li>
      </ul>

      <div class="search-no-result" th:if="${#lists.isEmpty(results)}">
        <h2 class="text-big">Nous n&#x27;avons aucun résultat pour le terme recherché.</h2>
        <p class="search-result-text">
          Nous vous invitons à effectuer une nouvelle recherche ou à poursuivre votre navigation sur notre site.
        </p>
        <a th:href="@{/}" class="cta-secondary">retour à l&#x27;accueil</a>
      </div>
    </main>
  </body>
</html>
