@import '../../common';

.error {
  @include alert-variant(
    theme-color-level('danger', $alert-bg-level),
    theme-color-level('danger', $alert-border-level),
    theme-color-level('danger', $alert-color-level)
  );
}

.success {
  @include alert-variant(
    theme-color-level('success', $alert-bg-level),
    theme-color-level('success', $alert-border-level),
    theme-color-level('success', $alert-color-level)
  );
}

ngb-toast {
  opacity: 0.7;
  animation: fade 300ms ease;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: initial;
    transform: scale(1);
  }
}
