@import '../../common';

.error {
  background-color: shift-color($danger, $alert-bg-scale);
  border-color: shift-color($danger, $alert-border-scale);
  color: shift-color($danger, $alert-color-scale);
}

.success {
  background-color: shift-color($success, $alert-bg-scale);
  border-color: shift-color($success, $alert-border-scale);
  color: shift-color($success, $alert-color-scale);
}

ngb-toast {
  opacity: 0.9;
  animation: fade 300ms ease;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: initial;
    transform: scale(1);
  }
}
